
.nav-brand{
  background: steelblue;
  color: white;
  width: 100%;
  height: 50px;
  margin-top: 0;
}
.navbar-brand:hover{
  color: white ;
  font-weight: 700;
}
#logo{
  width:30px;
  border-radius: 50%;
}
.navbar-brand{
  color: white;
}
.search{
  margin: 0;
}
.product{
  margin-bottom: 10px;
  border: 3px solid #D1D9DD;
  height: 100%;
  width: 100%;
   -webkit-box-shadow: 3px 6px #C5D0D5 ;  
  -moz-box-shadow:    3px 6px #C5D0D5 ; 
  box-shadow:         3px 6px #C5D0D5 ; 
}
.copyright{
  color: #28627F ;
}
  hr{
  border: 1px white;
}
.navbar{
  margin-bottom: 0;
}
.btn{
  outline: none;
}
.lastline{
  background-color: #FFF8DC;
  height:50px;
  word-spacing: 2px;
}
.customer{
  padding-top: 20px;
}
.h1{
  color: white;
  font-size: 100px;
  font-family: serif;
}
h2{
  color: white;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.h3{
  color: white;
  font-size: 30px;
  letter-spacing: 4px;
}
.h5{
  color: white;
  font-size: 25px;
  letter-spacing: 8px;
}
.shopping{
  background: #0F354B ;
  height: auto;
  width:100%;
  padding: 10px 0;
}
.h4{
  color: #BADFF4;
  font-size: 15px;
}
.h6{
  color: #F4F8FA;
  font-size: 10px;
}
.h4:hover{
  font-weight: 700;
  color: #ffffff;
}
 .h6:hover{
  color: #41E7F5 ;
  font-weight: 700;
  text-decoration: underline;
 }
.brand-product{
  width: 60%;
  height: 70vh;
  margin: 10px 20%;
}
.btn-default{
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  background: #F08A1E;
  padding: 10px 25px;
}
.btn-default:hover{
  background: #1EAAF0 ;
  color: #ffffff;
  -webkit-box-shadow: 3px 6px #C5D0D5 ;  
  -moz-box-shadow:    3px 6px #C5D0D5 ; 
  box-shadow:         3px 6px #C5D0D5 ;  
}
.product-details{
  margin-top: 20px;
  margin-left: 20px;
}
#barnd-name{
  font-size: 30px;
  font-weight: 600;
  color: #0CAEE7 ;
  padding-bottom: 10px;
}
#brand-rating{
  background: #39B21E;
  color: #ffffff;
  padding: 3px 5px;
  border-radius: 25px;
}
#rated-by{
  color: #1271BB ;
  font-size: 15px;
}
#brand-price{
  font-size: 30px;
  font-weight: 600;
}
.brand-discount{
  font-size: 17px;
}
.bank-offer{
  color: #7E7E7F  ;
  font-weight: 600;
  font-size: 20px;
}
.tc{
  font-weight: 600;
  color: #0ABABF ;
}
.glyphicon-tags{
  color: #10C11B ;
}
#features{
  color: #7E7E7F ;
  font-size: 20px;
}
.glyphicon-hand-right{
  color:#4D44D1 ;
}
.brand-features{
  color:#000000;
  font-size: 15px;
}